<mat-card>
  <mat-card-title>{{titulo}} Produto</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput type="text" placeholder="Nome" [(ngModel)]="product.name" name="name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Quantidade" [(ngModel)]="product.qtItems" name="qtItems" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Valor Unitário (R$)" [(ngModel)]="product.vlUnit" name="vlUnit"
        currencyMask [options]="{
        prefix: 'R$ ',
        thousands: '.',
        decimal: ',',
        align: 'left'
    }" />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createUpdateProduct()" color="primary">Salvar</button>
  <button mat-raised-button (click)="cancel()">Voltar</button>
</mat-card>
